<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body>
    <p>@Title</p>
</body>
</html>

@code {
    [Parameter]
    public string Title { get; set; } = "Lol";
}
